In [20]:
import pandas as pd

In [21]:
df20_dash = pd.read_csv("../../../datasets/dash_20ms.csv", sep = ';')

In [22]:
df20_dash

          timestamp  Buffer  FPS  ReportedBitrate Resolution  CalcBitrate
0     1699622405180   3.986   30             3312   1280x720           66
1     1699622406179   3.254   30             3312   1280x720          411
2     1699622407179   6.330   30             3312   1280x720         1061
3     1699622408184  13.130   30             3312   1280x720         1713
4     1699622409179  16.197   30             3312   1280x720         2337
...             ...     ...  ...              ...        ...          ...
3595  1699626000188   7.580   18              639    426x240       820235
3596  1699626001186   6.493   18              639    426x240       820368
3597  1699626002189   9.428   18              639    426x240       820492
3598  1699626003186   8.363   18              639    426x240       820630
3599  1699626004186   7.562   18              639    426x240       820757

[3600 rows x 6 columns]

In [23]:
df20_dash['timestamp'].astype(int)

0       1699622405180
1       1699622406179
2       1699622407179
3       1699622408184
4       1699622409179
            ...
3595    1699626000188
3596    1699626001186
3597    1699626002189
3598    1699626003186
3599    1699626004186
Name: timestamp, Length: 3600, dtype: int64